<h3 class="current-category"><%= params[:category] %></h3>

<% if @books.count == 0 %>
  <h2> There are no books currently in this category. Why don't you be the first to add your book?</h2>
<% else %>

  <div class="row">
     <% @books.each do |book| %>
      <div class="col-md-3">
       <a href="/books/<%= book.id %>">
         <%= image_tag book.book_img.url(:book_index), class: "book" %>
        </a>
        </div>
       <% end %>
    </div>
<% end %>
